.listTable {
    width: 70%;
    text-align: center;
    margin-top: 50px;
}

.saveButton {
    display: flex;
    justify-content: flex-end;
    width: 70%;
    text-align: center;
    margin-top: 50px;
}
