.saveButton {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.ml-50 {
    margin-left: -50px;
}

.mt-20 {
margin-top: 20px;
}

.ml-30 {
    margin-left: 30px;
}

.mt-120 {
    margin-top: 120px;
}

.inputName {
    display: flex;
    width: 100%;
    justify-content: center;
}

.container {
    display: flex;
    width: 100%;
    justify-content: center;
    
}

.center {
    text-align: center;
}

.containerCenter {
    display: flex;
    justify-content: center;
}

.pt-120 {
    padding-top: 120px;
}

.input {
    height: 30px;
    width: 20%;
}

.button {
    width: 8%;
    height: 36px;
}