<div class="mt-120" style="display: flex;justify-content: center;">
  <h2 class="center">Crear tarea</h2>
  </div>

  <div class="" style="display: flex;justify-content: center;">

      <div class="inputName">
          <input placeholder="Nombre de la tarea" [(ngModel)]="name">
      </div>
      </div>

      <div class="saveButton">
          <button mat-button color="warm" class="main-mat-button mat-focus-indicator mat-flat-button mat-button-base mat-primary" (click)="createTask();">Guardar</button>
      </div>






